/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
html {
  overflow-x: hidden;
  /* font-family: "Nunito", sans-serif; */
  font-family: "Inter", sans-serif;
}
/* Chatbot */

df-messenger {
  --df-messenger-bot-message: #fff;
  --df-messenger-button-titlebar-color: #007bff;
  --df-messenger-chat-background-color: #fff;
  --df-messenger-font-color: #000;
  --df-messenger-send-icon: #878fac;
  --df-messenger-user-message: #e4e6eb;
}

/* Make Slick Slider Visible */

.slick-slider {
  height: 100%;
  width: 100%;
}

.slick-slide img {
  object-fit: cover;
}

.slick-dots {
  bottom: 10% !important;
}
.slick-dots li button:before {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: aqua;
  color: transparent !important;
}
/* Animation */
.fadeIn {
  animation: fadeIn 0.5s linear;
}
.preFadeIn {
  opacity: 0;
  transform: translateY(100px);
}
.fadeInLeft {
  animation: fadeInLeft 0.5s linear;
}
.preFadeInLeft {
  opacity: 0;
  transform: translateX(100px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.sidebar__link {
  display: block;
  padding: 8px 32px;
}

.sidebar__link--sub {
  display: block;
  padding: 8px 55px;
}
.sidebar__link:hover {
  background-color: #007bff;
  transition: 350ms linear;
}
.sidebar__link--sub:hover {
  background-color: #007bff;
  transition: 350ms linear;
}

.DayPickerInput {
  display: block !important;
}

.DayPickerInput input {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding-left: 1rem;
  height: 2.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 3px;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  top: 0;
  right: 0;
}

.product-tab {
  border: 2px solid rgb(19 154 243 / 10%);
  padding: 16px 32px;
  cursor: pointer;
  transition: 350ms all;
  text-transform: uppercase;
}

.product-tab.active {
  background-color: #007bff;
  color: #fff;
  border-color: transparent;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger
  .logo--name {
  display: none;
}

.dashboard__content::-webkit-scrollbar {
  display: none;
}

.dashboard__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.diary-box {
  border-radius: 10px;
  color: #fff;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  transition: 350ms all;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.diary-box:nth-child(1) {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.diary-box:nth-child(2) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.diary-box:nth-child(3) {
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
}
.diary-box:nth-child(4) {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.diary-box img {
  height: 4rem;
}

.form-control {
  margin-bottom: 1rem;
}

.diary-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 35px 40px rgba(0, 0, 0, 0.1);
}

.diary-boxx {
  border-radius: 5px;
  padding: 3rem 4rem;
  background-color: #fff;
  transition: 350ms all;
  text-align: center;
}
.diary-boxx:hover {
  transform: translateY(-10px);
}
.diary-boxx:nth-child(1):hover {
  box-shadow: 0 35px 40px rgb(140 36 158 / 8%);
}

.diary-boxx:nth-child(2):hover {
  box-shadow: 0 35px 40px rgb(36 158 125 / 8%);
}
.diary-boxx:nth-child(3):hover {
  box-shadow: 0 35px 40px rgb(219 87 64 / 8%);
}
.diary-boxx:nth-child(4):hover {
  box-shadow: 0 35px 40px rgb(32 127 248 / 8%);
}

.heading {
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.heading::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 3px solid #007bff;
}

.ant-layout-sider-trigger {
  color: #000;
  background: #fff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
}

.ant-menu-inline .ant-menu-item:after,
.ant-menu-vertical-left .ant-menu-item:after,
.ant-menu-vertical-right .ant-menu-item:after,
.ant-menu-vertical .ant-menu-item:after {
  border-right: none;
}

.ant-menu-submenu-title span,
.ant-menu-item span,
.ant-menu-item a {
  color: #aaacaf;
  font-family: "Nunito";
  font-size: 15px;
}

.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #1890ff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .anticon {
  color: #1890ff;
}

.ant-layout-sider-collapsed .logout__wrapper {
  padding: 10px;
}
.ant-layout-sider-collapsed .logout__text {
  display: none;
}

.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin-bottom: 0;
}

.lightbox-container {
  display: flex;
}

.user__setting li {
  transition: 350ms all;
}
.user__setting li:hover {
  background-color: #edf3fe;
}
